body {
  margin: 0px;
  overflow-y: hidden;
}

#Instructions {
  float: left;
  width: 500px;
  display: block;
  padding: 20px;
}

canvas {
  margin: 10px;
  border: 1px solid black;
  float: left;
  display: block;
}

#reset {
  background-color: #006621;
  padding: 5px;
  display: block;
  border-radius: 5px;
  text-align: center;
  color: #ddd;
  outline: none;
}

#reset:hover {
  background-color: #004d19;
  cursor: pointer;
}
